/* 
  Estilo Retro/8-Bits
  Separado en un archivo externo para fomentar buenas prácticas de 
  separación de responsabilidades
*/

/* Root es un selector que apunta al elemento raíz de la página, en este caso el <html> */

:root {
  --bg:      #06060E;
  --surface: #0E0B1A;
  --border:  #2D1B4E;
  --text:    #D8D0F0;
  --accent:  #A855F7; /* Amarillo estilo Pikachu para detalles */
  --blue:    #7C3AED; /* Azul Stage 1 */
  --red:     #C026D3; /* Rojo Stage 2 */
  --pixel:   'Press Start 2P', monospace;
  --body:    'DM Sans', sans-serif;
}

* { margin:0; padding:0; box-sizing:border-box; }

/* Configuración del body tipo Flex para centrar absolutamente todo el contenido */
body { 
  background: var(--bg); 
  color: var(--text); 
  font-family: var(--body); 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  text-align: center; 
}

/* Título principal diseñado como el Logo Clásico de Pokémon */

h1 { 
  font-family: var(--pixel); 
  font-size: 2.2rem; /* Ligeramente más grande */
  color: #E8D8FF; 

  /* El text-shadow múltiple crea el efecto de borde grueso alrededor del texto */
  text-shadow: 
    -3px -3px 0 #4B0082,  
     3px -3px 0 #4B0082,
    -3px  3px 0 #4B0082,
     3px  3px 0 #4B0082,
     4px  4px 0 #1A0033; /* Se usa para dar profundidad inferior */
  margin-bottom: 2rem; 
  line-height: 1.5; 
  letter-spacing: 2px;
}

.subtitle { 
  font-family: 'Space Mono', monospace; 
  font-size: 0.9rem; 
  margin-bottom: 4rem; 
  color: var(--text); 
}

.menu { 
  display: flex; 
  gap: 2rem; 
  flex-wrap: wrap; 
  justify-content: center; 
}

/* Botones reutilizables del menú */
.btn { 
  background: var(--surface); 
  color: var(--text); 
  padding: 1.5rem 2rem; 
  border: 2px solid var(--border); 
  border-radius: 4px; 
  text-decoration: none; 
  font-family: var(--pixel); 
  font-size: 0.8rem; 
  letter-spacing: 0.1em; 
  transition: 0.2s all; 
}

/* Colores personalizados según a qué stage van alineados */
.btn.stage1 { border-color: var(--blue); }
.btn.stage2 { border-color: var(--red); }

/* Efectos hover para que se sienta dinámico e interactivo */
.btn.stage1:hover { 
  background: rgba(74,140,245,0.1); 
  transform: translateY(-3px); 
  box-shadow: 0 4px 15px rgba(74,140,245,0.2); 
}
.btn.stage2:hover { 
  background: rgba(232,64,64,0.1); 
  box-shadow: 0 4px 15px rgba(232,64,64,0.2); 
  transform: translateY(-3px);
}
